*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: dogicapixel;
    src: url(../resources/fonts/dogica/TTF/dogicapixel.ttf);
}

@font-face {
    font-family: league-reg;
    src: url(../resources/fonts/League_Spartan/LeagueSpartan-Regular.ttf);
}
@font-face {
    font-family: league-bold;
    src: url(../resources/fonts/League_Spartan/LeagueSpartan-Bold.ttf);
}
@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
}
@keyframes fade-in {
    to {opacity: 1;}
}
body {
    background-image: url("../resources/main\ background.png");
	background-size: 100%;
}
#navbar {
    background-image: url("../resources/header bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    width: 100vw;
    overflow: hidden;
}
#folders {
    max-height: 6vw;
    display: flex;
    justify-content: center;
    padding-left: 24vw;
    padding-right: 12vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    overflow: hidden;
}
.nav {
    width: 3.5vw;
    margin: 1vw;
}
div {
    display: block;
}
.icons {
    position: relative;
    display: inline-block;
    padding-top: 1vw;
}
.orig-image, .hover-image {
    display: block;
    transition: opacity 0.3s ease-in-out;
    height: auto;
}
.hover-image {
    position: absolute;
    top: 1vw;
    left: 0;
    opacity: 0;
    transform: scale(1);
}
.icons:hover .orig-image {
    opacity: 0;
    transform: scale(1);
}
.icons:hover .hover-image {
    opacity: 1;
    transform: scale(1.1);
}

/* CONTENT */

div#contact-view-content {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    position: relative;
}

div#contact-view-win {
    position: relative;
}

img#contact-view-win {
    width: 60vw;
}

div#contact-view-container {
    display: flex;
    flex-direction: column;
    min-width: 56.5vw;
    max-width: 56.5vw;
    /* min-height: 28.3vw;
    max-height: 28.3vw; */
    height: 28.3vw;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top: 4.5vw;
    left: 1.8vw;
    align-items: center;
}

.guest-bg {
    background-color: #ffe4e4;
    border-radius: 0.5vw;
    box-shadow: .2vw .2vw .3vw rgba(0, 0, 0, 0.363);
    padding: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.3vw;
    min-width: 50vw;
    max-width: 50vw;
    font-family: dogicapixel;
    line-height: 1.5;
}

.guest-bg h4 {
    color: rgb(130, 67, 189);
    font-size: 0.85vw;
}

.guest-bg h6 {
    color: #292b99b6;
    font-size: 0.5vw;
}

.guest-bg p {
    color: rgb(150, 53, 53);
    font-size: 0.8vw;
    margin: 1vw 1vw 0 1vw;
    overflow-wrap: break-word;
}