*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: dogicapixel;
    src: url(resources/fonts/dogica/TTF/dogicapixel.ttf);
}

@font-face {
    font-family: league-reg;
    src: url(resources/fonts/League_Spartan/LeagueSpartan-Regular.ttf);
}

@font-face {
    font-family: league-bold;
    src: url(resources/fonts/League_Spartan/LeagueSpartan-Bold.ttf);
}

body {
    background-image: url("https://i.imgur.com/K68TgzS.png");
	background-size: 100%;
}
#navbar {
    background-image: url("resources/header bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: sticky;
    width: 100vw;
    overflow: hidden;
}
#folders {
    max-height: 6vw;
    display: flex;
    justify-content: center;
    padding-left: 24vw;
    padding-right: 12vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    overflow: hidden;
}
.nav {
    width: 3.5vw;
    margin: 1vw;
}
div {
    display: block;
}
.icons {
    position: relative;
    display: inline-block;
    padding-top: 1vw;
}
.orig-image, .hover-image {
    display: block;
    transition: opacity 0.3s ease-in-out;
    height: auto;
}
.hover-image {
    position: absolute;
    top: 1vw;
    left: 0;
    opacity: 0;
    transform: scale(1);
}
.icons:hover .orig-image {
    opacity: 0;
    transform: scale(1);
}
.icons:hover .hover-image {
    opacity: 1;
    transform: scale(1.1);
}

/* CONTENT */

div#shane-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
div#socmed-win {
    position: relative;
}
img#socmed-win {
    width: 60vw;
}
div#socmed-content1 {
    display: flex;
    position: absolute;
    top: 5vw;
    left: 5vw;
    gap: 1vw;
    justify-content: center;
    max-width: 50vw;
    max-height: 50vw;
}
div#socmed-content2 {
    display: flex;
    position: absolute;
    top: 11vw;
    left: 5vw;
    gap: 1vw;
    justify-content: center;
    max-width: 50vw;
    max-height: 50vw;
}
div#socmed-content3 {
    display: flex;
    position: absolute;
    top: 19vw;
    left: 5vw;
    gap: 1vw;
    justify-content: center;
    max-width: 50vw;
    max-height: 50vw;
}
div.icon {
    flex-grow: 1;
    position: relative;
    display: inline-flex;
}
img.ena-icon {
    max-width: 2.5vw;
    max-height: 2.5vw;
}
div.user {
    flex-grow: 9;
    position: relative;
    display: inline-flex;
    font-family: dogicapixel;
    font-size: 0.75vw;
    line-height: 1.5;
}
#reaction1 {
    position: absolute;
    top: 3.9vw;
    left: 2.8vw;
    transform: scale(.85);
}
#reaction2 {
    position: absolute;
    top: 5.3vw;
    left: 2.8vw;
    transform: scale(.85);
}

/* SPANS */

.name {
    color: #7c7eff;
}
.post {
    color: #8800ff;
    font-size: 0.65vw;
}
.at {
    color: #0004ff;
}

#boo {
    position: relative;
    /*top: 3.5vw;*/
    width: 8.5vw;
    height: auto;
    content: url(resources/windows/my\ melody\ phone.gif);
}
#boo:hover {
    content: url(resources/windows/boo.gif);
}